.addClient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 25vw;
    background-color: orange;
    margin: 2rem;
    padding: 2rem;
}
  
.addClient h2 {
    font-size: 1.8rem;
}
  
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 4.5rem;
}

.addClientBtn {
    align-self: center;
    height: 2rem;
    width: 70%;
    font-size: 1rem;
}