.clientName {
    text-align: center;
    color: rgb(78, 36, 122);
}

.clientReminders {
    background-color: rgb(249, 249, 249);
    width: 50%;
}

.clientSince {
    text-align: center;
    font-size: 13px;
}

.clientBody {
    display: flex;
}

.editIcon {
    display: none;
    color: rgb(164, 164, 164);
}

.deleteIcon {
    display: none;
    color: rgb(164, 164, 164);
}

.clientDetails:hover .editIcon {
    display: block;
    position: absolute;
    right: 5rem;
    font-size: 1.4rem;
}

.clientDetails:hover .deleteIcon {
    display: block;
    position: absolute;
    right: 2.5rem;
    font-size: 1.4rem;
}

.editIcon:hover {
    color: rgb(79, 72, 72);
    cursor: pointer;
}

.deleteIcon:hover {
    color: rgb(79, 72, 72);
    cursor: pointer;
}