.home {
    padding: 0 10%;
    /* background-color: rgb(229, 239, 245); */
    width: 100vw;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}
/* 
.ClientList {
    width: 35%;
}


.homeAddClient {
    width: 40vw;
    background-color: red;
} */