.ClientList {
    background-color: rgb(255, 255, 255);
    width: 35vw;
    /* min-height: 50vh; */
    /* border: 1px solid rgb(206, 206, 239); */
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px rgb(206, 206, 239);
    margin: 2rem;
    padding: 1rem;
    position: relative;
}

.ClientList h2 {
    font-size: 1.9rem;
    color: rgb(120, 109, 109);
    border-bottom: 1px solid rgba(96, 96, 96, 0.448);
    padding-bottom: 0.6rem;
}